.idea/
bin/
build.xml
gen/
libs/
local.properties
obj/
.settings/

.gradle/
build/
.externalNativeBuild/

*.iml

samples-android/Common/gpg-sdk/gpg-cpp-sdk/
samples-android/Common/gpg-sdk/gpg_cpp_sdk.zip

.DS_Store
